body {
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    background: #2A528D;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background: #84ACD6;
}

.content {
    width: 100%;
    max-width: 100%;
}






