@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/Email.css"/> 

<!--Header-->

<div class="card mini-header">

    <div class="card-body">

        <!-- TOP MINI HEADER ROW -->
        <div class="mini-row">

            <div class="mini-item w1">
                <span>Model</span>
                <select class="form-select form-select-sm">
                    <option></option>
                </select>
            </div>

            <div class="mini-item w2">
                <span>Title</span>
                <select class="form-select form-select-sm">
                    <option></option>
                </select>
            </div>

            <div class="mini-item w3">
                <span>Email Title</span>
                <input type="text" class="bukodtangi" />
            </div>

        </div>

        <!-- SECOND ROW -->
        <div class="mini-row">

            <div class="mini-item w1">
                <span>Date From</span>
                <input type="date" class="form-control form-control-sm">
            </div>

            <div class="mini-item w1">
                <span>Time From</span>
                <input type="time" class="form-control form-control-sm">
            </div>

            <div class="mini-item w1">
                <span>Time To</span>
                <input type="time" class="form-control form-control-sm">
            </div>

        </div>

        <!-- ACTION ROW aligned right -->
        <div class="mini-row mini-actions-row">
            <div class="mini-actions ml-auto">
                <button class="btn btn-primary btn-sm">Generate</button>
                <button class="btn btn-secondary btn-sm">Sender Name</button>
                <button class="btn btn-warning btn-sm">Clear Data</button>
                <button class="btn btn-success btn-sm">Send Email</button>
            </div>
        </div>

    </div>

</div>